/* Dock Container */
.dock-container.bottom {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
  }
  
  /* Dock Styling */
  .dock {
    display: flex;
    pointer-events: auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5em; /* Reduced padding to make Dock smaller */
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.116); /* More transparency */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  }
  
  /* Dock Items */
  .dock-item {
    background-color: rgba(6, 6, 6, 0.4); /* Softer transparency */
    margin: 2px;
    width: 50px; /* Smaller icon size */
    height: 50px; /* Smaller icon size */
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em; /* Smaller icon size */
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease-out, background-color 0.3s ease-out;
  }
  
  .dock-item:hover {
    background-color: rgba(17, 17, 17, 0.5);
    transform: scale(1.2);
  }
  
  /* Dock Item Label */
  .dock-label {
    font-size: 0.7rem;
    margin-top: 3px;
    background: linear-gradient(90deg, #d925e9, #cc19c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
    font-weight: bold;
  }
  
  .dock-item:hover .dock-label {
    display: block;
    position: absolute;
    top: -22px;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  