.card-spotlight {
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #ccc;
    background-color: #ffffffdc; /* Light background */
    padding: 2rem;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(0, 229, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.486);
    transition: transform 0.2s ease-in-out;
    color: #212529; /* Dark text for readability */
  }
  
  .card-spotlight:hover {
    transform: scale(1.1);
  }
  
  .card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      var(--spotlight-color),
      transparent 80%
    );
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  .card-spotlight:hover::before,
  .card-spotlight:focus-within::before {
    opacity: 0.6;
  }
  
  /* Styling for input and textarea */
  input,
  textarea {
    background-color: #f8f9fa; /* Light gray background for inputs */
    color: #212529; /* Dark text */
    border: 1px solid #ced4da; /* Light gray border */
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #706c7df7; /* Placeholder text color */
    font-style: italic;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    border-color: #8097ff; /* Focus border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.881); /* Slight shadow on focus */
  }
  