/* src/components/Waves.css */

.waves {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  